In [65]:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [66]:
match=pd.read_csv('matches')
delivery=pd.read_csv('deliveries.csv.zip')
ipl=delivery.merge(match,left_on='match_id',right_on='id')

In [67]:
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

# 1. Scatter Plot

In [68]:
#Avg vs Sr graph of top 50 batsman(in terms of total runs)
#Fetching a new dataframe with top 50 batsman
top50=ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(50).index.tolist()
new_ipl=ipl[ipl['batsman'].isin(top50)]

In [69]:
#calculating SR
#SR=[(no. of runs scored)/(no. of balls played)]*100
runs=new_ipl.groupby('batsman')['batsman_runs'].sum()
balls=new_ipl.groupby('batsman')['batsman_runs'].count()
sr=(runs/balls)*100
sr=sr.reset_index()
sr

             batsman  batsman_runs
0     AB de Villiers    145.129059
1       AC Gilchrist    133.054662
2           AJ Finch    126.299213
3          AM Rahane    117.486549
4          AT Rayudu    123.014257
5        BB McCullum    126.318203
6           BJ Hodge    121.422376
7           CH Gayle    144.194313
8          DA Miller    137.709251
9          DA Warner    138.318401
10          DJ Bravo    122.286822
11         DJ Hussey    120.072661
12  DPMD Jayawardene    118.791064
13          DR Smith    132.279534
14      F du Plessis    124.161074
15         G Gambhir    120.361200
16        GJ Maxwell    157.564103
17         JH Kallis    105.936272
18         JP Duminy    121.970624
19        KA Pollard    140.621266
20     KC Sangakkara    118.469101
21        KD Karthik    123.008475
22           KK Nair    124.650161
23           M Vijay    120.028681
24        MEK Hussey    119.963592
25         MK Pandey    116.938453
26         MK Tiwary    114.127424
27          MS Dhoni    132.835821
28           NV Ojha    114.528024
29          PA Patel    112.718447
30          R Dravid    113.347237
31         RA Jadeja    118.792867
32         RG Sharma    128.497251
33        RV Uthappa    127.635135
34       S Badrinath    115.742972
35          S Dhawan    118.502496
36        SC Ganguly    101.734540
37          SE Marsh    130.109775
38          SK Raina    134.995548
39         SPD Smith    128.507127
40      SR Tendulkar    114.187867
41         SR Watson    134.838379
42         SS Tiwary    114.851485
43         SV Samson    122.403433
44        TM Dilshan    110.124164
45           V Kohli    126.588437
46          V Sehwag    148.827059
47           WP Saha    127.727646
48         YK Pathan    140.751445
49      Yuvraj Singh    126.390244

In [70]:
#Calculating Avg
#Avg=total no. of runs/no. of outs
out=ipl[ipl['player_dismissed'].isin(top50)]
nouts=out['player_dismissed'].value_counts()
avg=runs/nouts
avg=avg.reset_index()

In [71]:
avg.rename(columns={'index':'batsman',0:'avg'},inplace=True)
avg=avg.merge(sr,on='batsman')

In [72]:
trace=go.Scatter(x=avg['avg'],y=avg['batsman_runs'],mode='markers',text=avg['batsman'],marker={'color':'#00a65a','size':16})
data=[trace]
layout=go.Layout(title='Batsman Avg vs Sr',xaxis={'title':'Batsman Average'},yaxis={'title':'Batsman Strike Rate'})
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='myflie.html')

'myflie.html'

# Line chart

In [73]:
#Year by year batsman performance

single=ipl[ipl['batsman']=='V Kohli']
performance=single.groupby('season')['batsman_runs'].sum().reset_index()
performance

single1=ipl[ipl['batsman']=='MS Dhoni']
performance1=single1.groupby('season')['batsman_runs'].sum().reset_index()
performance1

   season  batsman_runs
0    2008           414
1    2009           332
2    2010           287
3    2011           392
4    2012           357
5    2013           461
6    2014           371
7    2015           372
8    2016           284
9    2017           290

In [74]:
trace=go.Scatter(x=performance['season'],y=performance['batsman_runs'],mode='lines+markers',name='Virat kohli')
trace1=go.Scatter(x=performance1['season'],y=performance1['batsman_runs'],mode='lines+markers',name='Ms dhoni')
data=[trace,trace1]
layout=go.Layout(title='Season vs Batsman runs',xaxis={'title':'Batsman Runs'},yaxis={'title':'Season'})
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='myflie2.html')

'myflie2.html'

# Bar Plot

In [89]:
top10=ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10).index.tolist()
top10_df=ipl[ipl['batsman'].isin(top10)]

top10_score=top10_df.groupby('batsman')['batsman_runs'].sum().reset_index()
top10_score

          batsman  batsman_runs
0  AB de Villiers          3486
1        CH Gayle          3651
2       DA Warner          4014
3       G Gambhir          4132
4        MS Dhoni          3560
5       RG Sharma          4207
6      RV Uthappa          3778
7        S Dhawan          3561
8        SK Raina          4548
9         V Kohli          4423

In [76]:
trace1=go.Bar(x=top10_score['batsman'],y=top10_score['batsman_runs'])
data=[trace1]
layout=go.Layout(title='Top 10 IPL Batsman',xaxis={'title':'Batsman'},yaxis={'title':'Total runs'})
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='myflie3.html')

'myflie3.html'

In [77]:
#Nested Bar Graph
iw=top10_df.groupby(['batsman','inning'])['batsman_runs'].sum().reset_index()
mask=iw['inning']==1
mask2=iw['inning']==2
one=iw[mask]
two=iw[mask2]

one.rename(columns={'batsman_runs':'1st innings'},inplace=True)
two.rename(columns={'batsman_runs':'2nd innings'},inplace=True)
final=one.merge(two,on='batsman')[['batsman','1st innings','2nd innings']]
final

          batsman  1st innings  2nd innings
0  AB de Villiers         2128         1345
1        CH Gayle         2003         1623
2       DA Warner         2118         1896
3       G Gambhir         1699         2433
4        MS Dhoni         2232         1328
5       RG Sharma         2344         1863
6      RV Uthappa         1516         2262
7        S Dhawan         2262         1299
8        SK Raina         2647         1893
9         V Kohli         2391         2027

In [78]:
trace1=go.Bar(x=final['batsman'],y=final['1st innings'])
trace2=go.Bar(x=final['batsman'],y=final['2nd innings'])

data=[trace1,trace2]
layout=go.Layout(title='Inning wise Scores',xaxis={'title':'Batsman'},yaxis={'title':'Total runs'})
#barmode='stack' or barmode='overlay' (by deafult=nested)
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='myflie4.html')

'myflie4.html'

# Bubble Plot

In [79]:
new_ipl=new_ipl[new_ipl['batsman_runs']==6]
six=new_ipl.groupby('batsman')['batsman_runs'].count().reset_index()
x=avg.merge(six,on='batsman')
trace=go.Scatter(x=x['avg'],y=x['batsman_runs_x'],mode='markers',marker={'size':x['batsman_runs_y']})
                                                                         
data=[trace]
layout=go.Layout(title='Bubble Chart',xaxis={'title':'Average'},yaxis={'title':'SR'})
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='myflie5.html')

'myflie5.html'

# Box Plot

In [82]:
match_agg=delivery.groupby(['match_id'])['total_runs'].sum().reset_index()
season_wise=match_agg.merge(match,left_on='match_id',right_on='id')[['match_id','total_runs','season']]

In [81]:
trace1=go.Box(x=season_wise[season_wise['season']==2017]['total_runs'],name='2017',marker={'color':'#00a65a'})
trace2=go.Box(x=season_wise[season_wise['season']==2008]['total_runs'],name='2008')
data=[trace1,trace2]
layout=go.Layout(title='Total score analysis',xaxis={'title':'total score'})
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='myflie6.html')

'myflie6.html'

# Dist plot

In [84]:
import plotly.figure_factory as ff
hist_data=[avg['avg'],avg['batsman_runs']]
group_labels=['Average','Strike Rate']
fig=ff.create_distplot(hist_data,group_labels,bin_size=[10,20])
pyo.plot(fig,filename='myfile7.html')

'myfile7.html'

# Heatmap

In [91]:
six=delivery[delivery['batsman_runs']==6]
six=six.groupby(['batting_team','over'])['batsman_runs'].count().reset_index()



trace=go.Heatmap(x=six['batting_team'],y=six['over'],z=six['batsman_runs'])
data=[trace]
layout=go.Layout(title='Six Heatmap')
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='myflie8.html')

'myflie8.html'

In [94]:
#side by side heatmap
dots=delivery[delivery['batsman_runs']==0]
dots=dots.groupby(['batting_team','over'])['batsman_runs'].count().reset_index()

from plotly import tools
trace1=go.Heatmap(x=six['batting_team'],y=six['over'],z=six['batsman_runs'].values.tolist())
trace2=go.Heatmap(x=dots['batting_team'],y=dots['over'],z=dots['batsman_runs'].values.tolist())
fig=tools.make_subplots(rows=1,cols=2,subplot_titles=["6's","0's"])
fig.append_trace(trace1,1,1)
fig.append_trace(trace2,1,2)
pyo.plot(fig,filename='myflie9.html')

'myflie9.html'